<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_js"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_js_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoyShop"
        tools:targetApi="31">
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.JoyShop.NoActionBar"/>
        <activity
            android:name=".ui.staff.StaffHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.electronics.ElectronicsCategoyListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.electronics.ElectronicsProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.clothes.ClothesCategoryListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.clothes.ClothesProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.CategoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.product.ListProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.AdminAddProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.AdminProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.CategoryProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.DasboardActivity"
            android:exported="false"
            android:theme="@style/Theme.JoyShop.NoActionBar" />
        <activity
            android:name=".ui.admin.AdminRegisterStaffActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.AdminHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.staff.StaffLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.JoyShop.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.AdminLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.JoyShop.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.user.RegisterUserActivity"
            android:exported="false"
            android:theme="@style/Theme.JoyShop.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.JoyShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JoyShop.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>